.group-class-popup h3 {
  font-weight: bold;
  margin: 20px 0 4px 0;
}

.group-class-popup li {
  margin-bottom: 4px;
}

.group-class-popup .toggle-regular-cancellation, .group-class-popup .booking-cancellation {
  position: absolute;
  right: 20px;
}

.group-class-popup .cancelled-regular {
  text-decoration: line-through;
}

.admin-schedule {
  table-layout: fixed;
  margin-top: 40px;
}

.admin-schedule td:nth-child(3) input {
  width: 40px;
}

.admin-schedule td:nth-child(4) input {
  width: 40px;
}

.admin-schedule td:nth-child(8) input {
  width: 20px;
}

.admin-schedule td:nth-child(10) input {
  width: 60px;
}
