.popup {
  width: 350px !important;
}

.group-class-popup h3 {
  font-weight: bold;
  margin: 20px 0 4px 0;
}

.group-class-popup li {
  margin-bottom: 4px;
}

.group-class-popup .toggle-regular-cancellation, .group-class-popup .booking-cancellation {
  position: absolute;
  right: 20px;
}

.group-class-popup .cancelled-regular {
  text-decoration: line-through;
}

.schedule-body {
  margin: 20px 10px 30px 10px;
}

.schedule-body h1 {
  font-weight: bold;
  font-size: 24px;
  margin: 20px 0 16px 0;
}

.admin-schedule {
  table-layout: fixed;
  margin-top: 40px;
}

.admin-schedule td {
  padding: 0 5px;
}

.admin-schedule {
  font-size: 12px;
}

.admin-schedule tr {
  width: 100%;
}

.admin-schedule td:nth-child(1) input {
  width: 20px;
  display: block;
}

.admin-schedule td:nth-child(2) input {
  width: 210px;
}

.admin-schedule td:nth-child(3) input {
  width: 30px;
}

.admin-schedule td:nth-child(4) input {
  width: 40px;
}
.admin-schedule td:nth-child(5) input, .admin-schedule td:nth-child(6) input {
  width: 125px;
}

.admin-schedule td:nth-child(7) input {
  width: 20px;
}

.admin-schedule td:nth-child(8) input {
  width: 110px;
}

.admin-schedule td:nth-child(9) input {
  width: 60px;
}

.admin-schedule td.highlight-row {
  background-color: green;
  transition: background-color 1s linear;
}

.admin-schedule td.highlight-row-error {
  background-color: red;
  transition: background-color 1s linear;
}

.instructions {
  margin-top: 60px;
}

.instructions b {
  font-weight: bold;
}

.instructions li {
  padding: 6px 0 6px 0;
}
