.ajanvaraus-content {
  margin-top: 50px;
  width: 90%;
}

.ajanvaraus-content .info {
  color: #3a87ad;
}

.time {
  margin-right: 0px !important;
}

.comment {
  width: 90%;
}

.enrollment {
  left: 5% !important;
  background-color: #b7c74b;
  margin-right: 4px;
}

.logout {
  margin-top: 10px;
  display: none;
}