@font-face {
    font-family: 'aaarghnormal';
    src: url('fonts/Aaargh-webfont.eot');
    src: url('fonts/Aaargh-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Aaargh-webfont.woff') format('woff'),
         url('fonts/Aaargh-webfont.ttf') format('truetype'),
    font-weight: normal;
    font-style: normal;
}

body {
  background-color: #f5f7ed;
  font-family: 'aaarghnormal';
}

.hidden {
  display: none;
}

.error {
  color: red;
  display: none;
}

.invalid {
  background-color: #ffcf00;
}

ul {
  margin-bottom: 12px;
}

.logo {
  margin-top: 100px;
  margin-left: 40px;
}

@media only screen and (max-width : 675px) {
  .header {
    text-align: center;
  }

  .logo {
    margin-left: 0;
  }
}

#body {
  margin-top: 40px;
}

.navi {
  padding-top: 20px;
  background-color: #c9d754;
  padding-bottom: 10px;
}

@media only screen and (min-width : 676px) {
  .navi {
    margin-right: 20px;
    float: left;
    max-width: 300px;
  }
}

.slogan {
  font-size: 13px;
  letter-spacing: 3px;
  color: #ffffff;
  margin-bottom: 25px;
}

.navi nav {
  margin-left: 30px;
}

.navi li {
  padding-bottom: 10px;
}

.navi, .schedule, p, li, table, div {
  font-family: 'aaarghnormal';
}

h1, h2, strong, a {
  color: #0aa7d3;
}

.highlight {
  color: #b7c74b;
  font-weight: bold;
}

.navi a {
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  color: #ffffff;
}

.navi a:hover {
  color: #0aa7d3;
}

.navi .selected {
  font-weight: bold;
  color: #0aa7d3;
}

.ananda-nav a {
  color: #333333;
}

.ananda-nav a:hover {
  color: #a8d733;
}

.navi .pull {  
  display: none;
  margin-bottom: 20px;
}
  
.navi .pull a {
  vertical-align: middle;
}

.navi .pull img {
  width: 30px;  
  height: 30px;
  vertical-align: middle;
}  

@media only screen and (max-width : 675px) {
  .navi {  
    border-bottom: 0;
  }

  .content { 
    clear: both; 
    width: 90% !important;
  }

  .navi ul {
    padding: 8px;
    position: absolute;
    display: none;  
    height: auto; 
    z-index: 10;
    opacity: 0.95;
    background-color: #c9d754;
    border-radius: 5px;
    -moz-border-radius: 5px;
  }
  
  .navi .pull {  
    display: block;  
    width: 100%;  
    position: relative;  
  }
}  

.content {
  float: left;
  width: 45%;
  line-height: 22px;
  font-size: 16px;
  color: #0aa7d3;
  margin-top: 52px;
  margin-left: 10px;
}

.content p {
  padding-bottom: 24px;
}

.content em {
  font-style: italic;
}

.content strong {
  font-weight: bold;
}

.content li {
  list-style-type: disc;
  list-style-position:inside;
  padding-bottom: 10px;
}

.content h1 {
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.content h2 {
  font-weight: bold;
  padding-bottom: 12px;
}

.content .side-image {
  width: 170px;
  float: left;
  margin: 10px 10px auto auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.content .tilat .side-image {
  height: 170px;
}

.lang {
  margin-top: 10px;
}

.lang a {
  font-size: 12px;
}

.facebook {
  margin-top: 25px;
}

.facebook img {
  width: 100px;
}

.mailinglist {
  margin-bottom: 20px;
}

.mailinglist a {
  font-size: 12px;
}

.mailinglist img {
  width: 16px;
  margin-right: 6px;
}

.mailinglist-form .contact-info {
  margin-top: 8px;
  font-size: 14px;
  color: #7e6d77;
}

.mailinglist-form input[type="text"] {
  margin-top: 4px;
  width: 200px;
}

.mailinglist-form .join-button {
  margin-top: 4px;
}

.mailinglist-form .error {
  margin-top: 4px;
}

.mailinglist-ok {
  font-size: 20px;
  color: #b7c74b;
  display: none;
}

.images {
  float: left;
  margin: 0 0 25px 0;
}

.body {
}

blockquote {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #0aa7d3;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -10px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}

@media (max-width: 490px) {
  .schedule-container {
    width: 100%;
    overflow-x: auto;
  }
}

.schedule {
  width: 1050px;
  margin-bottom: 40px;
  border: 1px solid #98b49b;
}

.schedule td {
  vertical-align: top;
  border-width: 0px 1px;
  border-style: solid;
  border-color: #ffffff #98b49b;
  padding: 0 3px 0 3px;
}

.schedule td > div {
  padding: 6px 0 4px 4px;
}

.schedule th {
  width: 14%;
  font-weight: bold;  
  padding-top: 2px;
  padding-bottom: 2px;
  border: 1px solid #98b49b;
  text-align: center;
  background-color: #a5bea8;
}

.schedule .course {
  background-color: #b7c74b;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding-left: 6px;
}

.schedule a {
  color: #333333;
  text-decoration: none;
}

.schedule a:hover {
  color: #a8d733;
}

.signup-info {
  width: 20px;
  height: 20px;
}

.signup, .cancelled {
  float: right;
  width: 20px;
  height: 20px;
  margin-right: 3px;
}

/*
@media (max-width: 490px) {
  .popup {
    position:absolute;
  }
}
@media (min-width: 490px) {
*/
  .popup {
    position:fixed;
    left: 50%;
    top: 50%;
    -ms-transform: translate(-50%,-50%);
    -moz-transform:translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
  }

.popup {
  display: none;
  border: 2px solid #98b49b;
  background-color: #a5bea8;
  width: 300px;
  z-index: 1000;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.popup .close {
  position: absolute;
  top: 5px;
  right: 5px;
}

.popup .popup-content {
  margin: 15px;
  position: relative;
}

.signup-popup .contact-info {
  margin-top: 8px;
}

.signup-popup input[type="text"] {
  width: 200px;
}

.signup-popup .signup-button {
  margin-top: 30px;    
}

.signup-popup .class-info, .signup-popup .classes {
  margin-top: 10px;
}

.signup-popup .date-info {
  font-weight: bold;
  font-style: italic;
}

.signup-popup-ok {
  font-weight: bold;
  font-size: 20px;
  display: none;
  text-align: center;
}

.ale {
  color: #b7c74b;
  font-weight: bold;  
}

.prices {
  padding-top: 20px;
  padding-bottom: 40px;
}

.prices h2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width : 490px) {
  .prices table {
    width: 100% !important;
  }
}

.prices table {
  margin-left: 20px;
  width: 500px;
}

.prices table td:first-child {
  width: 20%;
}

.prices .valmennus {
  margin-top: 50px;
}

.location-map {
  padding-top: 20px;
  padding-bottom: 20px;
}

.stefi {
  width: 50px;
}

.product-image {
  width: 120px;
}

.new {
  font-weight: bold;
  color: #a8d733;
}

section {
  padding: 30px 0 20px 0;
}

.teaser {
  color: #a8d733;
}

@media only screen and (min-width : 676px) {
  .idea {
    float: left;
    width: 53%;
  }

  .blog {
    width: 40%;
    min-height: 500px;
    float: right;
    margin-left: 10px;
  }
}

.success {
  font-weight: bold;
  font-size: 20px;
  display: none;
}

.ajanvaraus-link a {
  color: #3a87ad;  
}

.available-class {
  padding-bottom: 5px;
}

.available-class.disabled label {
  text-decoration: line-through;
}

.cancellation-reason {
  margin-left: 10px;
}

.booking-attention {
  margin-left: 10px;
  font-size: 12px;
  color: red;  
}

.schedule-loading {
  background: url(/img/spinner.svg);
  background-size: 200px 200px;
  width: 200px;
  height: 200px;
  margin: 0 auto;
}
