.logo {
  margin-left: 120px;
}

.lehti {
  margin-left: 250px;
}

.lehti-up {
  position: absolute;
  top: 0px;
  left: 862px;
}

.line1 {
  position: absolute;
  top: 189px;
  left: 4px;
  width: 862px;
  height: 4px;
}

.line2 {
  position: absolute;
  top: 189px;
  left: 1072px;
  width: 45%;
  height: 4px;
}

.lehti-mid {
  position: absolute;
  top: 189px;
  left: 862px;
}

.lehti-down {
  position: absolute;
  top: 193px;
  left: 862px;
}

#body {
  margin-left: 120px;
  margin-top: 70px;
}

.navi {
  margin-left: 12px;
}

.navi li {
  padding-bottom: 10px;
}

.navi a {
  color: #333333;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 18px;
}

.navi a:hover {
  color: #a8d733;
}

.navi .selected {
  font-weight: bold;
}

.content {
  position: absolute;
  top: 259px;
  left: 400px;  
  width: 470px;
  line-height: 22px;
  font-size: 16px;
  color: #333333;
}

.content p {
  padding-bottom: 24px;
}

.content em {
  font-style: italic;
}

.content strong {
  font-weight: bold;
}

.content li {
  list-style-type: disc;
  list-style-position:inside;
  padding-bottom: 10px;
}

.content h1 {
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: uppercase;
}

.content h2 {
  font-weight: bold;
  padding-bottom: 12px;
}

.content .side-image {
  width: 170px;
  float: left;
  margin: 10px 10px auto auto;
  box-shadow: 0 3px 10px rgba(0,0,0,0.15);
  -o-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -ms-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 3px 10px rgba(0,0,0,0.1);
  border: 1px solid #ddd;
}

.lang {
  margin-top: 30px;
}

.lang a {
  font-size: 10px;
}

.facebook {
  margin-top: 80px;
}

.facebook img {
  width: 100px;
}

.images {
  float: left;
  margin: 0 0 25px 0;
}

.body {
}

blockquote {
  font-family: Georgia, serif;
  font-size: 16px;
  font-style: italic;
  width: 500px;
  margin: 0.25em 0;
  padding: 0.25em 40px;
  line-height: 1.45;
  position: relative;
  color: #383838;
}

blockquote:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}

blockquote cite {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}
 
blockquote cite:before {
  content: "\2014 \2009";
}

.schedule {
  width: 1200px;
}
