<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>$title$ - Ajatus & Asana</title>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="//code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/js/jquery.cycle.all.js"></script>
    <script src="/js/site.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/"><img src="/img/ajatus_asana_logo.png" alt="Ajatus & Asana logo" title="Ajatus & Asana" class="logo" /></a>
    </div>

    <div id="body">
      <div class="navi">
        <nav>
          <div class="slogan">Luovan joogan kohtauspaikka</div>
          <ul>
            <li><a href="index.html">Idea</a></li>
            <li><a href="viherlaakso.html">Viherlaakson joogahuone</a></li>
            <li><a href="valmennus.html">Yksityisvalmennukset</a></li>
            <li><a href="rentoutus.html">Uusia näkökulmia ja rentoutta elämään</a></li>
            <li><a href="kuka_olen.html">Kuka olen</a></li>
            <li><a href="harjoituksia.html">Jooga- ja meditaatioharjoituksia</a></li>
            <li><a href="jooga_nidra.html">Jooga Nidra</a></li>
            <li><a href="palaute.html">Palautteet</a></li>
            <li><a href="yhteystiedot.html">Yhteystiedot</a></li>
            <li><div class="lang"><a href="en/">In English</a></div></li>
            <li><div class="facebook"><a href="https://www.facebook.com/ajatusasana"><img src="/img/facebook.jpg"/></a></div></li>
            <li>
              <div class="mailinglist"><a href="list.html"><img src="/img/stay-tuned.png" /> Liity ilmaiselle sähköpostituslistalle</a></div>
            </li>
          </ul>
          <div class="pull"><img src="/img/nav-icon.png" /><a href="#">Valikko</a></div>
        </nav>
      </div>

      <div class="content">
        <div class="images">$image$</div>
        <div class="body" style="$imagesheight$">$body$</div>
      </div>

    </div>
  </body>
</html>
