<!DOCTYPE html>
<html lang="fi">
  <head>
    <title>Ajatus & asana - $title$</title>
    <link href='//fonts.googleapis.com/css?family=Anonymous+Pro:400,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="/js/jquery.cycle.all.js"></script>
    <script src="/js/site.js"></script>
  </head>
  <body>
    <div class="header">
      <a href="/en/"><img src="/img/logo_e.jpg" alt="Ajatus & asana logo" title="Ajatus & asana" class="logo" /></a>
      <img src="/img/lehti.jpg" class="lehti" />
      <img src="/img/lehti_yla.jpg" class="lehti-up" />
      <img src="/img/line.jpg" class="line1" />
      <img src="/img/lehti_keski.jpg" class="lehti-mid" />
    </div>

    <div id="body">
      <img src="/img/lehti_ala.jpg" class="lehti-down" />
      <div class="navi">
        <nav>
          <ul>
            <li><a href="index.html">Idea</a></li>
            <li><a href="viherlaakso.html">Viherlaakso Yoga house</a></li>
            <li><a href="yllas.html">Ylläs-Äkäslompolo courses</a></li>
            <li><a href="consulting.html">Consulting</a></li>
            <li><a href="whom.html">For whom</a></li>
            <li><a href="me.html">Who am I</a></li>
            <li><a href="cv.html">CV</a></li>
            <li><a href="publications.html">Publications</a></li>
            <li><a href="testimonials.html">Testimonials</a></li>
            <li><a href="contact.html">Contact</a></li>
          </ul>
        </nav>
        <div class="lang"><a href="/">Suomeksi</a></div>
        <div class="facebook"><a href="https://www.facebook.com/ajatusasana"><img src="/img/facebook.jpg"/></a></div>
      </div>

      <div class="content">
        <div class="images">$image$</div>
        <div class="body" style="$imagesheight$">$body$</div>
      </div>

    </div>
  </body>
</html>
